<div class='add'>
  <br/>
  <form #getDurationForm='ngForm' (submit)='getDuration()'>
    <div class="form-group row">
      <div class="col-sm-2">
        Enter Course Name:
      </div>

      <div class="col-sm-4" [class.has-error]="courseName.touched && courseName.invalid" [class.has-success]="courseName.valid">
        <input type="text" class="form-control" autocomplete="off" name="courseName" required [(ngModel)]='course' pattern='[\w\s]{1,}' #courseName='ngModel'>
        <div *ngIf='courseName.errors && (courseName.dirty || courseName.touched)' class="help-block">
          <div [hidden]='!courseName.errors.pattern'>Type a valid course name!!
          </div>
          <div [hidden]='!courseName.errors.required'>Course Name should not be empty!!</div>
        </div>
      </div>
    </div>

      <button type="submit" value="Get Duration" class="btn btn-align" [class.btn-success]="getDurationForm.valid" [disabled]='getDurationForm.invalid'>Get Duration</button>
  </form>
  <br/>

  <div *ngIf='formSubmitted'>
    <hr/>
    <div *ngIf="result" class="has-success">
      <h4 class="help-block">The duration for course <i>{{result.name}}</i> is <b><i>{{result.duration}} {{result.time}}</i></b></h4>
    </div>

    <div *ngIf="result==undefined" class="has-error">
      <h4 class="help-block">The given course doesn't exist.</h4>
    </div>
  </div>
  </div>