<div class="container">
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      <h1>Hello Course Play Application</h1>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills pull-right">
        <li class="nav-link" routerLinkActive="active" routerLink="/courses">
          <a routerLink="/courses">Courses</a>
        </li>
        <li class="nav-link" routerLinkActive="active" routerLink="/courses-json" >
          <a routerLink="/courses-json">Courses with JSON</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
    <div class="panel-footer">
      <p><b>&copy; Developed By: </b>Akhil Kshirasagara, Ganesh Patil, Himanshu Sagar, Harshita Shrivastava, Himani Jain, Kameshwar Gupta & Ushasravani Grandhi
      </p>
    </div>
  </div>
</div>